@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #26bdaf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
  font-family: "Monoton", cursive;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 40px;
  word-spacing: 20px;
}

span {
  font-family: "Monoton", cursive;
  font-size: 150px;
}
.numbers {
  display: inline-block;
  width: 250px;
  text-align: center;
  letter-spacing: 20px;
}

button {
  padding: 10px 20px;
  font-family: "Monoton", cursive;
  font-size: 18px;
  cursor: pointer;
  margin: 0 2px;
  background-color: #8bc34a;
  border: none;
  outline: none;
  border-radius: 5px;
}

button:hover {
  background-color: #abf852;
}
button:active {
  background-color: #88ff00;
}
